# Database
postgres_backups
postgres_db

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/

# Env files (don’t bake secrets into image)
*.env.*
envs/


# Django-specific
#*.sqlite3
#db/db.sqlite3
mediafiles/
static/

# Docker
.dockerignore
Dockerfile*
docker-compose*.yml

# Git & VCS
.git/
.gitignore
.github
.gitattributes

# IDEs and editors
*.swp
*.swo
*.log
.vscode/
.idea/
*.bak

# Testing
coverage/
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
test-results.xml

# Compiled or generated
*.egg-info/
.eggs/
dist/
build/

# Misc
*.DS_Store
Thumbs.db
caller.py
uv.lock
ssl_renewal/
nginx/
certbot/
terraform/
tests/
