{% extends "base.html" %}
{% block main_content %}
    <section class="site-section site-about">
        <div class="container">
            <h1>About</h1>
            ANY TIME
No matter weekend, holiday, weekday, early in the morning or late in the evening do not hesitate to contact us it is our business to be at our customers disposal.

ANY BUDGET
You’ll find the ZAZA solutions to be very affordable. We'll do our best to develop a personalized solution that fits your space and your budget. We also will match any competitor that you bring to us. Whether we are building a new kitchen or dreaming about a bookcase in the family room, we want to make sure we can fit our products and services into your budget.

EASY PROCESS
ZAZA makes it all simple. We come to you...draw up plans that fit your needs and present them for your approval... Then schedule our professional installation. We’re quick, professional, and friendly — you’ll love the way we work.

AMAZINGLY QUICK
You don’t have to endure weeks or even months of messy remodeling to get the custom space solutions you want. No matter how big is your project we will finish in time

SOLUTIONS THAT LAST
Simply put, ZAZA solutions stand the test of time. We use durable, high-quality materials and professional installers. Our solutions are designed to look great and last a lifetime!
            
            
            Our facility is conveniently situated at the northern entrance of Sofia, close to the ring road and the airport (map), on area of more than 1000 sq.m. In the recently renovated building we have situated our high technological CNC machines made from the leaders of the furniture business– BRAND, HOLDZMA, HOLTZHER and ALTENDORF.

The company owes her own press for veneering of panels. The specialized shop for lacquer painting guarantees the excellent quality of the products offered.
            
        </div>
    </section>
{% endblock %}