{% load i18n %}
{% load static %}


<header class="site-header">
    <div class="container">
        <div class="header-elements">
            <div class="site-title">
                <a href="{% url "index" %}">Zaza Logo</a>
            </div>
            <nav class="navigation" id="nav-menu">
                <input type="checkbox" id="sidebar-active">
                <label for="sidebar-active" class="open-sidebar-button">
                    <img class="menu-btn" src="{% static "images/menu.svg" %}" alt="menu-icon">
                </label>
                <label id="overlay" for="sidebar-active"></label>
                <div class="links-container">
                    <label for="sidebar-active" class="close-sidebar-button">
                        <img class="menu-btn" src="{% static "images/close.svg" %}" alt="close-icon">
                    </label>
                    <ul>
                        <li><a href="{% url "how-it-works" %}" class="nav-link">{% trans "How it works" %}</a></li>
                        <li><a href="{% url "main_gallery" %}" class="nav-link">{% trans "Gallery" %}</a></li>
                        <li><a href="{% url "about" %}" class="nav-link">{% trans "About us" %}</a></li>
                        <li><a href="{% url "contacts" %}" class="nav-link">{% trans "Contacts" %}</a></li>
                    </ul>
                    <ul>
                        <li>
                            <form class="language-form" action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                {% if LANGUAGE_CODE == "bg" %}
                                    <button class="language-form-btn" type="submit" name="language" value="en">
                                        <span class="language-form-btn-text">EN</span>
                                        <img src="{% static "images/uk_flag.avif" %}" alt="English Flag">
                                    </button>
                                {% else %}
                                    <button class="language-form-btn" type="submit" name="language" value="bg">
                                        <span class="language-form-btn-text">BG</span>
                                        <img src="{% static "images/bg_flag.avif" %}" alt="Bulgarian Flag">
                                    </button>
                                {% endif %}
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<script src="{% static "scripts/activeNavLinks.js" %}"></script>