{% extends "base.html" %}
{% load static %}
{% block main_content %}

    <script src="{% static "scripts/articlesAnimation.js" %}"></script>
    <section class="site-section site-how-it-works" id="articles-section">
        <div class="container">
            <div class="articles-wrapper">
                <article>
                    <h1>Listen</h1>
                    <p>After discussing your lifestyle and needs during the complimentary consultation, your Design
                        Consultant will help you assess what's important to you and how to create the best use of your
                        space.</p>
                </article>
                <article>
                    <h1>Visualize</h1>
                    <p>Now the fun begins! During the consultation, we'll use a number of tools so you can visualize
                        various options for your new space. Your Design Consultant will also take accurate measurements
                        during the consultation – which is key to a functional, flawless space. Put away your tape
                        measure. We do it all for you!</p>
                </article>
                <article>
                    <h1>Design</h1>
                    <p>Your Design Consultant will design your project to fill your needs. Designs will have dimensions
                        shown so you know just what to expect. The cost of your project depends on the materials you
                        choose, the components included in the design, and the size of your installation.</p>
                </article>
                <article>
                    <h1>Install</h1>
                    <p>Once you approve your design, we'll tell you how to prepare for your installation and what to
                        expect. Installation will occur with minimal disruption to your home and your life. Once
                        complete, your Design Consultant will follow up to see that you are thrilled with the results.
                        Zazainterior installs most projects in one day and will leave your house as clean as it was when
                        we arrived.</p>
                </article>
            </div>
        </div>
    </section>
{% endblock %}