{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
    <section class="site-section hero-section">
        <div class="container">
            <div class="headings">
                <h1>
                    <span class="highlight">{% trans "ZAZA Interior" %}</span>
                    {% trans " has been making homes more beautiful and practical for more than " %}
                    <span class="highlight">{% trans "15 years" %}</span>
                </h1>
                <a href="{% url "main_gallery" %}">{% trans "Check our products" %}</a>
            </div>
        </div>
    </section>
    <section class="what-we-offer">
        <div class="container">
            <div class="what-we-offer-wrapper">
                <div class="what-we-offer-heading">
                    <h2>{% trans "Our team is experienced and professionally trained." %}</h2>
                </div>
                <div class="what-we-offer-cards">
                    <div class="card">
                        <h3>{% trans "Any time" %}</h3>
                        <img src="{% static "images/clock-regular.svg" %}" alt="clock-icon" width="70" height="70">
                    </div>
                    <div class="card">
                        <h3>{% trans "Any budget" %}</h3>
                        <img src="{% static "images/dollar-sign-solid.svg" %}" alt="dollar-sign" width="70" height="70">
                    </div>
                    <div class="card">
                        <h3>{% trans "Fast delivery" %}</h3>
                        <img src="{% static "images/truck-fast-solid.svg" %}" alt="delivery-icon" width="70" height="70">
                    </div>
                    <div class="card">
                        <h3>{% trans "Reliability" %}</h3>
                        <img src="{% static "images/thumbs-up-solid.svg" %}" alt="thumbs-up-icon" width="70" height="70">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="get-started">
        <div class="container">
            <div class="get-started-wrapper">
                <div class="get-started-text">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <p>{% trans "We guarantee to match the price of competitors’ plans using the same materials and design." %}</p>
                </div>
                <div class="get-started-text">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <p>{% trans "In most cases, our products can be installed in one day, saving you time and hassles." %}</p>
                </div>
                <div class="get-started-text">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <p>{% trans "Our designers are full of great ideas for your home. Just tell us what you are dreaming for." %}</p>
                </div>
                <div class="get-started-text">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <p>{% trans "We’ll leave your home as neat and clean as it was when we arrived." %}</p>
                </div>
                <div class="get-started-text">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <p>{% trans "Our products are simply superior in craftsmanship and design." %}</p>
                </div>
                <div class="get-started-text">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <p>{% trans "What we offer is not just functionality or design. Our offer is a smart combination of both." %}</p>
                </div>
                <div class="get-started-text">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                        <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    </svg>
                    <p>{% trans "Customer satisfaction is our standard of excellence. If you’re not satisfied, we’re not finished." %}</p>
                </div>
                <a href="{% url "contacts" %}">{% trans "Contact us" %}</a>
            </div>
        </div>
    </section>
{% endblock %}