.site-about {
    color: #fff;
}

.site-about .articles-wrapper-about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 0 1em;
}

.site-about .articles-wrapper-about article {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.site-about .articles-wrapper-about .article-visible {
    opacity: 1;
    transform: translateY(0);
}

.site-about .articles-wrapper-about h2 {
    font-size: 2em;
}

.site-about .articles-wrapper-about h1 {
    display: none;
    margin-bottom: 1em;
}

.site-about .articles-wrapper-about h1:after {
    content: "";
    display: block;
    width: 2em;
    height: 0.1em;
    background-color: var(--button-color-primary);
}