.what-we-offer {
    background-color: var(--site-bgnd);
}

.what-we-offer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;
    flex: 0 100%;
}

.what-we-offer-heading h2 {
    padding: 1em 0.5em 0;
}

.what-we-offer-heading {
    text-align: center;
    color: #ffffff;
}

.what-we-offer-cards {
    padding: 2em 0;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.what-we-offer-cards .card {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    background-color: var(--site-logo-color);
    border-radius: 1em;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.what-we-offer-cards .card h3 {
    font-size: 1.6em;
}

.what-we-offer-cards .card img {
    height: 100px;
    width: auto;
    padding-bottom: 1em;
}


.what-we-offer-cards .card h3:after {
    content: "";
    display: block;
    width: 2em;
    height: 0.1em;
    background-color: var(--site-bgnd);
}

/*Get started section*/
.get-started-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 100%;
    padding: 0 2em 3em 3em;
    gap: 1em;
    justify-content: flex-start;
    color: var(--navigation-text-color);
}

.get-started-wrapper .get-started-text {
    display: flex;
    gap: 0.5em;
}

.get-started-wrapper p {
    font-size: 1.3em;
}

.get-started-wrapper a {
    display: block;
    text-decoration: none;
    color: var(--site-bgnd);
    border-radius: 0.5em;
    background-color: var(--button-color-primary);
    padding: 0.5em 2em;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin-top: 1em;
    align-self: center;
    font-weight: 700;
}

.get-started-wrapper a:hover {
    background-color: var(--button-color-hover);
    transform: translateY(-5px);
}