.header-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0;
    flex-basis: 100%;
    color: var(--site-bgnd);
}

.site-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-title a {
    display: block;
    width: 150px;
    height: 50px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url("../images/zaza_logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 1.5em;
    list-style: none outside;
}

.navigation ul li {
    display: block;
    position: relative;
}

.navigation ul a {
    color: var(--navigation-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: 0.3s ease-in-out;
    display: block;
}

.navigation ul a:after,
.navigation ul a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--navigation-text-color);
    transition: all 0.5s ease-in-out;
}

.navigation ul a:after {
    top: 0;
    right: 0;
    transform-origin: right;
}

.navigation ul a:before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.navigation ul a:hover::after,
.navigation ul a:hover::before {
    width: 100%;
}