@media (max-width: 1000px) {
    html {
        font-size: 16px;
    }

    .navigation ul {
        font-size: 0.8em;
        gap: 0.5em;
    }

    .hero-section {
        height: 400px;
    }

    .language-form-btn img {
        width: 25px;
        height: 25px;
    }

    .site-title a {
        width: 100px;
        height: auto;
    }

    .form-box div {
        grid-column: 1 / -1;
    }

}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .header-elements .site-title a {
        width: 100px;
        height: 50px;
    }

    .site-header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .navigation ul {
        flex-direction: column;
        align-items: stretch;
        padding-left: 1em;
        gap: 1.5em;
        width: 100%;
    }

    .navigation ul a {
        padding: 1em 0.5em;
        font-size: 1.5em;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -200%;
        z-index: 10;
        background-color: #000;
        opacity: 95%;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.8s ease-out;
    }

    .open-sidebar-button {
        display: block;
    }

    .close-sidebar-button {
        padding: 0.5em;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .hero-section {
        height: 300px;
    }

    .headings h1 {
        font-size: 2em;
    }

    .what-we-offer-wrapper {
        padding: 1em 0 0 0;
        gap: 0;
    }

    .what-we-offer-heading h2 {
        font-size: 1.5em;
    }

    .what-we-offer-cards .card {
        justify-content: space-between;
    }

    .what-we-offer-cards .card img {
        height: 70px;
    }

    .what-we-offer-cards .card h3 {
        font-size: 1.3em;
    }

    .get-started-wrapper {
        padding: 0 0 1em 0;
    }

    .site-footer .footer-wrapper {
        justify-content: center;
    }

    .scrollToTopBtn {
        right: 10px;
    }

    .contact_us_green {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: 1 / 2;
    }

    .contact_us_green .side-left {
        padding: 0;
    }

    .contact_us_green .container-box {
        align-items: center;
    }

    .contact_us_green .text-box {
        margin: 0 0 2em;
    }

    .side-left .text-content {
        align-items: center;
        text-align: center;
    }

    .contact_us_green .text-blk.contactus-head {
        margin: 0 0 0.5em;
    }

    .side-right {
        grid-column: 1;
        grid-row: 2;
    }

    .side-left {
        grid-column: 1;
        grid-row: 1;
    }

    .language-form-btn span {
        font-size: 1.5em;
    }

    .contact_us_green .side-right::before {
        display: none;
    }

    .text-box svg {
        height: 40px;
        width: 40px;
    }

    .contact_us_green .side-right {
        padding: 0;
    }

    .site-how-it-works .articles-wrapper h1,
    .site-about .articles-wrapper-about h1,
    .gallery-section h1 {
        display: block;
    }

    .contact_us_green .input-title {
        margin: 0;
    }
}
