@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
	font: 18px/1.5 "Ubuntu", sans-serif;
	scroll-behavior: smooth;
}

body, input, textarea, button, select, option, table, td, th {
	font: inherit;
}

label, input, select, textarea {
	display: block;
	width: 100%;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

img {
	display: block;
	/*width: 100%;*/
	height: auto;
}
