{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block main_content %}
    <section class="site-section gallery-section">
        <div class="grid-container">
            <h1>{% trans "Gallery" %}</h1>
            <div class="gallery-section-wrapper">
                <ul id="gallery"></ul>
            </div>
            <!-- Modal for full-size image display -->
            <div id="myModal" class="modal">
                <img class="modal-content" id="fullImage">
                <div class="modal-info">
                    <p id="imageName">Image Name</p>
                    <p id="imageDescription">Image Description</p>
                </div>
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="arrow arrow-left" onclick="previousImage()">&#8249;</div>
                <div class="arrow arrow-right" onclick="nextImage()">&#8250;</div>
            </div>
            <div id="loading" style="display: none;">Loading...</div>
        </div>
    </section>
    <script src="{% static "scripts/galleryModal.js" %}"></script>
{% endblock %}
