{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaza Interior</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}">
    <link href="{% static "images/favicon.ico" %}" rel="icon" type="image/x-icon">
</head>
<script src="{% static "scripts/backToTopButton.js" %}"></script>

<body>
<div class="site">
    {% include "web/header.html" %}
    <main class="site-main">
        {% block main_content %}

        {% endblock %}
    </main>
    <button class="scrollToTopBtn"><strong>&#8679;</strong></button>
    {% include "web/footer.html" %}
{#            {% include "web/cookies-banner.html" %}#}
</div>
</body>
</html>