{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaza Interior</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}">
    <link href="{% static "images/favicon.ico" %}" rel="icon" type="image/x-icon">
    {% if not debug and GOOGLE_ANALYTICS_ID %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
        </script>
    {% elif debug %}
        <!-- Google Analytics disabled in DEBUG mode (or ID not set) -->
        <script>console.log("Google Analytics tracking is disabled in DEBUG mode or GOOGLE_ANALYTICS_ID is not set.");</script>
        <!-- End Google tag (gtag.js) -->
    {% endif %}
</head>
<script src="{% static "scripts/backToTopButton.js" %}"></script>

<body>
<div class="site">
    {% include "web/header.html" %}
    <main class="site-main">
        {% block main_content %}

        {% endblock %}
    </main>
    <button class="scrollToTopBtn"><strong>&#8679;</strong></button>
    {% include "web/footer.html" %}
    {#            {% include "web/cookies-banner.html" %}#}
</div>
</body>
</html>